<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/exercise}" th:object="${messagePrice}" method="post">
    <select name="currencies" th:field="*{currency}">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
    </select><br>
    Start date: <input type="date" th:field="*{startDate}"><br>
    End date: <input type="date" th:field="*{endDate}"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
